.logoutMoadalbg {
    position: relative;
}

.container h3 {
    font-family: 'JostSemiBold';
}

.container a {
    display: block;
    text-decoration: none;
    margin: 0 0 10px 0;
    color: black;
    padding-left: 10px;
    font-family: 'JostMedium';
}

.container a.active,
.container a:active,
.container a.active {
    border-left: 5px solid black;
    background-color: #F5F5F7;
    position: relative;
    left: -6px;
}

.container p {
    margin: 0 0 10px 0;
    padding-left: 10px;
    cursor: pointer;
    font-family: 'JostMedium';
}