.modal-enter {
    transform: scale(0.5);
    opacity: 0.3;
}

.modal-enter-active {
    transform: scale(1);
    opacity: 1.2;
    transition: all 300ms linear;
}

.modal-exit {
    transform: scale(0.8);
    opacity: 1;
}

.modal-exit-active {
    transform: scale(0);
    opacity: 0.1;
    transition: all 300ms linear;
}