.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    opacity: 0;
    transition: all 200ms linear;
}

.modal-exit {
    opacity: 1;
}

.modal-exit-active {
    opacity: 0;
    transition: all 200ms linear;
}