.button {
    border: none;
    background-color: #002547;
    color: white;
    padding: 10px;
    font-family: 'JostMedium';
    cursor: pointer;
}

.button:last-child:disabled {
    cursor: not-allowed;
    background-color: #949494;
}