.container {
    background-color: #f9f9f9;
    height: 100vh;
}

.container img {
    margin: 30px;
    width: 200px;
}

.auth_cont {
    width: 30%;
    margin: auto;
    padding-top: 50px;
}

.input {
    padding-bottom: 20px;
}

.input label {
    font-family: 'JostMedium';
}

.input input {
    width: -webkit-fill-available;
    padding: 8px;
    border: none;
    margin: 10px 0;
}

.auth_cont form button {
    width: 100%;
}

.h1 {
    text-align: center;
    font-family: 'JostSemiBold';
}

.p1 {
    text-align: center;
    font-family: 'JostMedium';
    padding-top: 10px;
    font-size: 1rem;
    color: #002547;
    cursor: pointer;
}

.p2 {
    text-align: center;
    font-family: 'JostMedium';
    padding-top: 10px;
    font-size: 1rem;
    color: #002547;
}

.p2 a {
    color: #002547;
    cursor: pointer;
}