.confirm_cont {
    z-index: 100;
    position: fixed;
    width: 20%;
    top: 25vh;
    left: 40%;
    right: 40%;
    padding: 10px 20px 30px 20px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    text-align: center;

}

.confirm_cont.show {
    animation: confirm 350ms linear;
}

@keyframes confirm {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.confirm_cont.hide {
    animation: cancel 350ms linear;
}

@keyframes cancel {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

.confirm_cont h2 {
    font-family: 'JostSemiBold';
    padding-bottom: 20px;
    font-size: 1.2rem;
}


.confirm_cont_flex div {
    border: none;
}

.confirm_cont_flex div:first-child {
    padding: 8px 10px;
    cursor: pointer;
    background-color: #002547;
    color: white;
    margin-bottom: 20px;
}


.confirm_cont_flex div:last-child {
    padding: 9px 15px;
    cursor: pointer;
}