/* .confirm_cont {
    z-index: 100;
    position: fixed;
    width: 78%;
    top: 25vh;
    padding: 40px 20px 50px 20px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.confirm_cont.show {
    animation: confirm 350ms linear;
}

@keyframes confirm {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.confirm_cont.hide {
    animation: cancel 350ms linear;
}

@keyframes cancel {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

.confirm_cont h2 {
    font-family: 'JostSemiBold';
    padding-bottom: 20px;
}

.confirm_cont_flex {
    display: flex;
    justify-content: space-around;
}

.confirm_cont_flex div:first-child {
    border: 1px solid black;
    padding: 8px 10px;
    cursor: pointer;
}


.confirm_cont_flex div:last-child {
    border: none;
    background-color: red;
    color: white;
    padding: 9px 15px;
    cursor: pointer;
} */

@media (min-width:1240px) {
    .list_item {
        display: flex;
        border-top: 1px solid #f5f5f7;
        padding: 8px 0;
        font-family: 'JostMedium';
    }

    .list_item div:nth-child(1) {
        flex-basis: 27%;
    }

    .list_item div:nth-child(2) {
        flex-basis: 53%;
        color: #949494;
    }

    .list_item div:nth-child(3) {
        flex-basis: 20%;
        text-align: end;
    }

    .options {
        margin: 0;
    }

    .options li {
        display: inline;
        margin-right: 25px;
        cursor: pointer;
        position: relative;
    }

    .options img {
        width: 17px;
    }

    .options li:last-child img {
        width: 12px;
    }

    .options li:nth-child(2) {
        position: relative;
        top: -1px;
    }

    .options li:nth-child(3) {
        position: relative;
        top: -3px;
    }

    .options li:nth-child(4) {
        margin-right: 0;
    }

    .hover_icon {
        position: absolute;
        background-color: black;
        color: white;
        top: -27px;
        left: -8px;
        font-size: .75rem;
        padding: 3px 10px;
    }

    .hover_icon:after {
        content: '';
        position: absolute;
        top: 22px;
        left: 15px;
        width: 0;
        height: 0;
        border-top: solid 5px #000;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
    }

}