.side_nav {
    height: 100%;
}

.main_nav {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 35px;
}

.header a img {
    width: 170px;
}

.header button {
    background: none;
    border: none;
}

.header button img {
    width: 25px;
}

@media (min-width:768px) {
    .main_nav {
        display: block;
    }

    .mobile_menu {
        display: none;
    }
}

@media (min-width:1024px) {
    .header {
        padding: 20px 50px;
        padding-top: 35px;
    }
}

@media (min-width:1400px) {
    .header {
        padding: 20px 100px;
        padding-top: 35px;
    }
}