.all_cont h4 {
    font-family: 'JostSemiBold';
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.sort_cont {
    display: flex;
    justify-content: left;
}

.sort_cont p {
    padding-right: 20px;
    cursor: pointer;
}

.bold {
    font-family: 'JostBold';
}

.total {
    font-family: 'JostRegular';
    font-size: .85rem;
    position: relative;
    top: -10px;
    left: -3px;
}

@media (min-width:1024px) {
    .all_cont {
        display: flex;
        justify-content: space-between;
    }

    .all_cont h4 {
        margin-top: 0;
    }

    .all_cont p {
        margin-top: 0;
    }
}