.nav {
    display: flex;
    padding-left: 0;
    justify-content: center;
    padding: 50px 0 70px 0;
}

.nav li {
    list-style-type: none;
    padding: 0 10px;
}

.nav li a {
    color: #949494;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'JostMedium';
}

.nav li a:hover,
.nav li a:active,
.nav li a.active {
    color: #002547;
}

@media (min-width:1400px) {
    .nav li a {
        font-size: 1.65rem;
    }

    .nav li {
        padding: 0 15px;
    }
}